<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>


        <!-- Main Content -->
        <main class="container">
            <div class="jumbotron">
                <h1 class="display-4">Jaspreet kaur
                </h1>
                <img align="right" width="150" height="180" src="/Assets/my.jpeg" height=120> </img>
                <h2>I am jaspreet kaur.I am an international student at centennial college enrolled for the course post graduate diploma in Artificial Intelligence Fast track.I persuaded my masters in Information Technology from India.I did my intership in
                    Python Machine Learning.Then I worked as a teacher of subject Informatic Practices.</h2>
            </div>
            <a href="/Assets/Resume.pdf" target="blank">Click here for the Resume</a>

        </main>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>